<div class="container">
  <img class="image" src="assets/logo.png" />
  
  <div class="mode-selector">
    <mat-form-field appearance="outline" class="mode-field">
      <mat-select [(value)]="mode" (selectionChange)="onModeChange($event.value)">
        <mat-option *ngFor="let modeOption of availableModes" [value]="modeOption.value">
          {{ modeOption.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <strong class="title">{{title}}</strong>
  
  <div class="profile-info pointer">
    <span class="labels">
      <strong>{{ name }}</strong>
      <p>{{ position }}</p>
    </span>
    <img class="profile" src="assets/profile.svg" />
  </div>
</div>
