<app-loading class="loading" *ngIf="loading"></app-loading>

<div class="container">
  <div class="filter-wrapper">
    <div class="filter-row">
      <app-date-filter [showDateTypeFilter]="true" (dateRangeChanged)="filterDates($event)"></app-date-filter>
      <!-- Modalidad -->
      <mat-form-field>
        <mat-label>Modalidad</mat-label>
        <mat-select [(ngModel)]="selectedModality" (selectionChange)="applyFilter('modality', $event.value)">
          <mat-option value="">TODOS</mat-option>
          <mat-option *ngFor="let modality of modalities" [value]="modality">
            {{ modality }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Departamento -->
      <mat-form-field>
        <mat-label>Departamento</mat-label>
        <mat-select [(ngModel)]="selectedDepartment" (selectionChange)="applyFilter('department', $event.value)">
          <mat-option value="">TODOS</mat-option>
          <mat-option *ngFor="let department of departments" [value]="department">
            {{ department }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="filter-row">
      <!-- Estado de Aviso de Cobro -->
      <mat-form-field>
        <mat-label>Estado de Aviso</mat-label>
        <mat-select [(ngModel)]="selectedNoticeStatus" (selectionChange)="applyFilter('noticeStatus', $event.value)">
          <mat-option value="">TODOS</mat-option>
          <mat-option *ngFor="let noticeStatus of noticeStatuses" [value]="noticeStatus">
            {{ noticeStatus }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- RTN -->
      <mat-form-field>
        <input matInput placeholder="RTN" [(ngModel)]="rtn">
      </mat-form-field>

      <!-- Renovación automática -->
      <mat-form-field>
        <mat-label>Renovación automática</mat-label>
        <mat-select [(ngModel)]="selectedAutomaticRenewal" (selectionChange)="applyFilter('automaticRenewal', $event.value)">
          <mat-option value="">TODOS</mat-option>
          <mat-option *ngFor="let estado of estadosRenovacion" [value]="estado.value">
            {{ estado.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-primary-button (btnClick)="onSubmit()">FILTRAR</app-primary-button>
    </div>
  </div>

  <div class="kpi-container">
    <mat-card class="kpi-card kpi-red">
      <p class="title">{{ totalOwed | currency:'HNL':'L.':'2.2'  }}</p>
      <p>Total Adeudado</p>
    </mat-card>

    <mat-card class="kpi-card kpi-green">
      <p class="title">{{ totalPaid | currency:'HNL':'L.':'2.2' }}</p>
      <p>Total Recaudado</p>
    </mat-card>

    <mat-card class="kpi-card kpi-orange">
      <p class="title">{{ upcomingExpirations }}</p>
      <p>Certificados Próximos a Vencer</p>
    </mat-card>
  </div>
  <div class="graph-container">
    <div id="debtDistributionChart" style="width: 50%; height: 400px;"></div>
    <div id="certificatesBankChart" style="width: 50%; height: 400px;"></div>
  </div>
  <div id="monthlyRevenueChart" style="width: 100%; height: 400px;"></div>
  <div id="debtByDepartmentChart" style="width: 100%; height: 400px;"></div>
  <div id="modalityChart" style="width: 100%; height: 400px;"></div>
  <div class="kpi-container">
    <mat-card class="kpi-card kpi-green">
      <p class="title">{{ totalPaidLast12Months | currency:'HNL':'L.':'2.2' }}</p>
      <p>Recaudo Últimos 12 Meses</p>
    </mat-card>

    <mat-card class="kpi-card kpi-blue">
      <p class="title">{{ totalProjectedNext12Months | currency:'HNL':'L.':'2.2' }}</p>
      <p>Proyección Próximos 12 Meses</p>
    </mat-card>
  </div>
  <div id="projectionsChart" style="width: 100%; height: 400px; margin-bottom: 15rem;"></div>
</div>
