<div class="container">
  <div class="bar-menu">
    <app-side-nav-button
      icon='dashboard'
      label='Dashboard'
      [selected]="selectedOption === 'dashboard'"
      (click)="selectOption('dashboard')"
    />
    <app-side-nav-button
      icon='details'
      label='Lista'
      [selected]="selectedOption === 'details'"
      (click)="selectOption('details')"
    />
    <app-side-nav-button
      *ngIf="currentMode !== 'eventual-permits'"
      icon='reports'
      label='Reportes'
      [selected]="selectedOption === 'reports'"
      (click)="selectOption('reports')"
    />
    <div class="dot" [style.left.rem]="iconTopPosition"></div>
  </div>
</div>
